<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>Item bearbeiten</title>
</head>
<body>
<h1>Item bearbeiten</h1>
<form th:action="@{/item/{id}(id=${item.itemID})}" method="post">
    <label for="itemname">Vorname:</label>
    <input type="text" id="itemname" name="itemname" th:value="${item.itemname}" required><br><br>

    <label for="Herkunftsunternehmen">Herkunftsunternehmen</label>
    <select id="Herkunftsunternehmen" name="companyoforiginID" required>
        <option th:each="company : ${sellingcompanys}"
                th:text="${company.companyname} + ' (' + ${company.sellingcompanyid} + ')'"
                th:value="${company.sellingcompanyid}"
                th:selected="${company.sellingcompanyid.toString() == item.companyoforiginID.toString()}">
        </option>
    </select>
    <br><br/>

    <label for="Itemprice">Adresse:</label>
    <input type="text" id="Itemprice" name="Itemprice" th:value="${item.itemprice}" required><br><br>

    <label for="bestand">Bestand:</label>
    <input type="text" id="bestand" name="bestand" th:value="${item.bestand}" required><br><br>

    <label for="mindestbestand">Mindestbestand:</label>
    <input type="text" id="mindestbestand" name="mindestbestand" th:value="${item.itemprice}" required><br><br>

    <label for="maximalbestand">Maximalbestand:</label>
    <input type="text" id="maximalbestand" name="maximalbestand" th:value="${item.maximalbestand}" required><br><br>


    <button type="submit">Änderungen speichern</button>
</form>

<a href="/">Zurück zur Übersicht</a>
</body>
</html>